@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;300;400;600;700;800;900&display=swap');
html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body {
    margin: 0;
    color: #626262;
    font: 16px/28px 'Blinker', sans-serif;
    font-weight: 300;
    height: 100%;
}